<%= render :partial => "layouts/navbar" %>
<%= render :partial => "layouts/slider"%>

<div class="fb-comments" data-href="http://photography-ahmadhamza.herokuapp.com/" data-width="470" data-num-posts="2"></div>
