<%= render :partial => "layouts/navbar" %>
<%= render :partial => "layouts/carousel"%>
<div class="fb-like" data-href="http://photography-ahmadhamza.herokuapp.com/" data-send="true" data-width="450" data-show-faces="true"></div>
<div class="fb-comments" data-href="http://photography-ahmadhamza.herokuapp.com/" data-width="470" data-num-posts="2"></div>
