<%= render :partial => "layouts/navbar" %>
<div class= "con">
	<div class= "container">
		<div class= "row">
				<div class= "unit">
					<h1>About Me</h1> 
				</div>
			<div class= "span6">
				<p>Assalam-u-alaikum Guys, peace and blessings to you. I am a hobbyist photographer and love doing long trips on bike. As a photographer i enjoy clicking portraits a lot since the label of college magazine photographer shaped me in this perspective. This is my first project which I have written in Ruby on rails. I learnt ruby on rails on my own and in last under the guidance of True Spider's founder Prashant Chaudhri. I really enjoyed the whole process. "Being me is the best i can do.." this sentence describes me the closest. In last but not the least i would like to thanks to my friends, my family who has supported me a lot, they’ll always be an important part of my life...</p>
				<p>Please leave your feedback about my work. No bigger encouragement than that .
				Love to hear from u. Thankyou. 
				                              Khuda Hafiz.</p>
			</div>	
				
		</div>	
	</div>	
<div>