<div id="myCarousel" class="carousel slide">
	<div class="carousell-inner">
			<% @images.each_with_index do |i,index|%>
					<div class="item <%= index == 0 ? 'active' : '' %>">
							<%= image_tag (i.image.url)%> 
								<div class="container">
									<div class="carousel-caption">
										<h3><%= i.photo_file_name%></h3>
										<p class="lead">
											<%=i.description%>
										</p>
									</div>
								</div>
					</div>
			<% end %>	
		</div>
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
	    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	</div>
	<script>
	            		$(function() {
						  $('#myCarousel').carousel('prev');
						});
						$(function() {
						  $('#myCarousel').carousel('next');
						});
	</script>